/nbproject/
/build/
/src/simuniversity/Changeable.class
/src/simuniversity/Employee.class
/src/simuniversity/Faculty.class
/src/simuniversity/Person.class
/src/simuniversity/SimUniversity.class
/src/simuniversity/Staff.class
/src/simuniversity/Student.class
